.container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 600px;
  z-index: -1;
  // background-size: contain;
  background-image: url("../../../assets/img/img-1-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img {
  width: 100vw;
  height: 500px;
  object-fit: contain;
}
